
main{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;


}
.main{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form{width: 500px;
    height: 500px;
    border: solid;
    



}

.chek{
    
}
.header{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div1{display: flex;
flex-direction: column;
 width: 300px;




}

.div2{
    display: flex;
justify-content: space-between;

width: 300px;
}

a{
    text-decoration: none;
}

.sign{ 
 background-color: dodgerblue;
 color: aliceblue;
 width: 300px;
 height: 35px;
 display: flex;
justify-content: center;
 
 
 
}

.footre{
    display: flex;
    justify-content: center;
}

